body {
  margin-top: 1vh;
  margin-right: 1vh;
  background-color: #dedecb;
  color: #413d5b
}

h1 {
  font-size: 4em;
}

div.p {
  margin: auto;
  line-height: 9vh;
}

.cover {
  position: fixed;
  padding: auto;
  margin: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: block;
}

#cover2 {
  background-color: #dedecb;
}

.partCover {
  position: absolute;
  padding: 10px;
  margin: 0;
  height: 104%;
  top: -0.5em;
  left: -0.5em;
  width: 100%;
  background: rgba(256,50,50,0.3);
  background-size: cover;
  display: block;
  padding-left: 4em;
  border-radius: 20px;
  z-index: 100;
}

#puzzleContainer, #formContainer {
  position: relative;
}

.hide {
  display: none;
}

.col-sm-1 {
  height: 9vh;
  line-height: 9vh;
  width: 6vw;
  text-align: center;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #b2b0b0;
}

.row-labels, .column-labels, .answer-form, .jumbotron {
  background-color: #a4b4e8;
}

.answer-form {
  padding: 20px 15px;
  border-radius: 15px;
  margin: 0 auto;
}

.dark-square {
  background-color: #595959;
}

.col-sm-3 .form-control {
  width: 4em !important;
}

#submit-btn {
  float: right;
}

.token {
  line-height: 3vw;
  display: inline-block;
  vertical-align: middle;
  background-color: #efed69;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px black;
}

.jumbotron {
  text-align: center;
  width: 40em;
  margin: 4.5em auto;
}
#cover-btn, #wait-btn {
  margin: 12em auto;
}

#form-cover-btn {
  margin: 0 auto;
}

.formCoverDisplay {
  position: fixed;
  top: 27em;
  left: 70em;
  display: block;
}

#timerTwoDisplay {
  position: fixed;
  top: 27em;
  left: 71.1em;
  display: block;
}

.btn {
  outline: none !important;
}

.cover-buttons {
  background-color: rgb(197, 214, 152);
  border-radius: 26px;
  text-align: center;
  display: block;
  box-shadow: -3px 3px 3px 0px #000;
}

.end-buttons {
  border: 1px solid #c3c3c3;
  color: #8c8c8c;
  float: right;
  display: block;
  background: rgba(0,0,0,0);
}

#export {
  margin: 3em 1em;
}

#restart {
  margin: 0em 1em;
}

#partInfo {
  margin: 4em 3em;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #a4b4e8;
  text-decoration: none;
}
