body {
  margin-top: 2vh;
  margin-right: 1vh;
  background-image: url("https://s6.postimg.org/fy94suir5/moss-wall.jpg");
  background-size: cover;
  color: #7a917f;
}

hr {
  color: #b2b2b2
}

#partInfo {
  color: #c4c4c4;
}

h1 {
  font-size: 4em;
}

div.p {
  margin: auto;
  line-height: 9vh;
}

.cover {
  position: fixed;
  padding: auto;
  margin: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0);
  background-size: cover;
  display: block;
}

.greyed {
  background: #a8a8a8;
  color: dbdbdb;
}

.partCover {
  /* Can I use position to move both a bit to the left? */
  position: absolute;
  padding: 10px;
  margin: 0;
  height: 104%;
  top: -0.5em;
  left: -0.5em;
  width: 100%;
  background: rgba(256, 256, 256, 0.4);
  background-size: cover;
  display: block;
  padding-left: 4em;
  border-radius: 20px;
  z-index: 100;
}

#puzzleContainer, #formContainer {
  position: relative;
}

.hide {
  display: none;
}

.col-sm-1 {
  height: 9vh;
  line-height: 9vh;
  width: 6vw;
  text-align: center;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #ceac67;
}

.row-labels, .column-labels, .answer-form, .jumbotron {
  background-color: #094417;
}

.answer-form {
  padding: 20px 15px;
  border-radius: 15px;
  margin: 0 auto;
}

.dark-square {
  background-color: #473103;
}

.col-sm-3 .form-control {
  width: 4em !important;
}

#submit-btn {
  float: right;
}

/*.lighter {
  background-color: #929daf;
}

.darker {
  background-color: #c9d0db;
}*/

.token {
  line-height: 3vw;
  display: inline-block;
  vertical-align: middle;
  background-color: #701f10;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  box-shadow: -2px 2px 2px 1px black;
  color: #c6b1ad;
  cursor: pointer;
}

.bottom-row {
  box-shadow: -1px 4px 3px 0px #000;
}

.row-labels, .answer-form, .jumbotron {
  box-shadow: -3px 2px 3px 2px #000;
}

h1 {
    text-align: center;
}

.jumbotron {
  width: 40em;
  margin: 5em auto;
}

#cover-btn {
  margin: 12em auto;
}

#form-cover-btn {
  margin: 0 auto;
}

#thanks-btn {
  margin: 0 auto;
}

.formCoverDisplay {
  margin: 27em auto;
  display: block;
  color: #ddeaff;
}

#timerTwoDisplay {
  margin: 3.7em auto;
  color: #ddeaff;
}

.btn {
  outline: none !important;
}

.cover-buttons {
  background-color: #449d44;
  border-radius: 26px;
  text-align: center;
  display: block;
  box-shadow: -3px 3px 3px 0px #000;
  color: #fff;
}

.answer-form .row {
  margin-bottom: 5px;
}

#restart {
  border: 1px solid #c3c3c3;
  color: #8c8c8c;
  margin: 7em 1em;
  float: right;
  display: block;
  background: rgba(0,0,0,0);
}

#partInfo {
  margin: 4em 3em;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #a4b4e8;
  text-decoration: none;
}
